.storybook-button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: 3em;
  font-weight: 700;
  line-height: 1;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.storybook-button:hover {
  background-color: white;
  color: #aa1f3e;
  border: 1px solid #aa1f3e;  /* 올바른 border 속성 사용 */
}


.storybook-button--primary {
  background-color: #555ab9;
  color: white;
}

.storybook-button--secondary {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  background-color: transparent;
  color: #333;
}

/* 사이즈별 스타일 */
.storybook-button--small {
  padding: 9px 16px;
  font-size: 12px;
}

.storybook-button--medium {
  padding: 10px 20px;
  font-size: 14px;
}

.storybook-button--large {
  padding: 11px 24px;
  font-size: 16px;
}

.storybook-button--biglarge {
  width: 250px;
  padding: 12px 24px;
  font-size: 16px;
}

.storybook-button--kingbiglarge {
  width: 400px;
  padding: 12px 24px;
  font-size: 16px;
}

.storybook-button--colorsmall {
  padding: 9px 16px;
  font-size: 12px;
  background-color: #333;
  color: white;
}

.storybook-button--colormedium {
  padding: 10px 20px;
  font-size: 14px;
  background-color:#333;
  color: white;
}

.storybook-button--colorlarge {
  padding: 11px 24px;
  font-size: 16px;
  background-color:#333;
  color: white;
}

.storybook-button--colorbiglarge {
  width: 250px;
  padding: 12px 24px;
  font-size: 16px;
  background-color: #333;
  color: white;
}

.storybook-button--colorkingbiglarge {
  width: 400px;
  padding: 12px 24px;
  font-size: 16px;
  background-color: #333; 
  color: white;
}
