.storybook-button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: 1em;
  font-weight: 700;
  line-height: 1;
  border: 0.5px solid;  /* 기본 보더라인 설정 */
  border-color: #a6b5c8;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.storybook-button--secondary {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  background-color: transparent;
  color: #333;
}
.storybook-button--small {
  padding: 8px 16px;
  font-size: 12px;
}
.storybook-button--medium {
  padding: 10px 20px;
  font-size: 14px;
}
.storybook-button--large {
  padding: 12px 24px;
  font-size: 16px;
}

.storybook-button--biglarge {
  width: 250px !important; /* !important 추가 */
  height: 50px !important; /* !important 추가 */
  padding: 12px 24px !important;
  font-size: 18px !important; /* !important 추가 */
}


.storybook-button--kingbiglarge {
  width: 500px !important; /* !important 추가 */
  height: 55px !important; /* !important 추가 */
  padding: 12px 24px !important;
  font-size: 18px !important; /* !important 추가 */
}




.storybook-button--colorsmall {
  padding: 8px 16px;
  font-size: 12px;
  background-color: #a6b5c8;
  color: #ffffff;
}
.storybook-button--colormedium {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #a6b5c8;
  color: #ffffff;
}
.storybook-button--colorlarge {
  padding: 12px 24px;
  font-size: 16px;
  background-color: #a6b5c8;
  color: #ffffff;
}

.storybook-button--colorbiglarge {
  width: 250px !important; /* !important 추가 */
  height: 50px !important; /* !important 추가 */
  padding: 12px 24px !important;
  font-size: 18px !important; /* !important 추가 */
  background-color: #a6b5c8;
  color: #ffffff;
}


.storybook-button--colorkingbiglarge {
  width: 500px !important; /* !important 추가 */
  height: 50px !important; /* !important 추가 */
  padding: 12px 24px !important;
  font-size: 18px !important; /* !important 추가 */
  background-color: #a6b5c8;
  color: #ffffff;
}


/* 마우스 오버 시 스타일 */
.storybook-button:hover {
  border-color: #AA1F3E;  /* 마우스 오버시 보더라인 색상 변경 */
  color: #AA1F3E;          /* 마우스 오버시 텍스트 색상 변경 */
  background-color: #ffffff; /* 배경 색상 변경 */
}


